<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <div class="p-6">
      <h2 class="text-lg text-gray-900">Categories</h2>
      <mat-nav-list>
        @for (cat of categories(); track cat) {
          <mat-list-item
            class="my-2"
            [routerLink]="['/products', cat]"
            [activated]="cat === category()"
          >
            <span matListItemTitle>{{ cat | titlecase }}</span>
          </mat-list-item>
        }
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="bg-gray-100 p-6 h-full">
    <h1 class="text-2xl font-bold text-gray-900 mb-6">{{ category() }}</h1>

    <div class="responsive-grid">
      @for (product of filterdProducts(); track product.id) {
        <app-product-card [product]="product" />
      }</div
  ></mat-sidenav-content>
</mat-sidenav-container>

<div class="bg-gray-100 p-6 h-full"></div>
